.wrap{
    margin: auto;
    width: 70%;
    height: 90vh;
    background: gainsboro;
}

.mem1 {
    background: url('./assets/img/1.png') center no-repeat;
    box-sizing: content-box;
}

.mem2 {
    background: url('./assets/img/2.png') center no-repeat;
    box-sizing: border-box;
}

.mem3 {
    background: url('./assets/img/3.png') center no-repeat;
    box-sizing: border-box;
}

.mem4 {
    background: url('./assets/img/4.png') center no-repeat;
    box-sizing: border-box;
}

.mem5 {
    background: url('./assets/img/5.png') center no-repeat;
    box-sizing: border-box;
}

.mem6 {
    background: url('./assets/img/6.png') center no-repeat;
    box-sizing: border-box;
}


.mem {
    width: 100%;
}

.slider{
    margin: auto;
    display: flex;
    overflow: hidden;
    width: 100%;
}

.slide {
    transition: translate 0.5s ease;
    width: 100%;
}

#slide1:checked ~ .slider .s1 {
    transform: translate(0%);
}

#slide2:checked ~ .slider .s2 {
    transform: translate(30%);
}

#slide3:checked ~ .slider .s3 {
    transform: translate(30%);

}

#slide4:checked ~ .slider .s4 {
    transform: translate(30%);
}
